<ion-view view-title="Trabalhos">
  <ion-content>
   
  	<ion-list>
         ​ <ion-item align='center'>  
     			<img src="img/cb1.jpg"> 
         ​ </ion-item>   

         ​ <ion-item align='center'>  
     			<img src="img/cb2.jpg"> 
         ​ </ion-item>        ​

         ​ <ion-item align='center'>  
     			<img src="img/cb3.jpg"> 
         ​ </ion-item>        ​

         ​ <ion-item align='center'>  
     			<img src="img/cb4.jpg"> 
         ​ </ion-item>        ​

         ​ <ion-item align='center'>  
     			<img src="img/cb5.jpg"> 
         ​ </ion-item>        ​

         ​ <ion-item align='center'>  
     			<img src="img/cb6.jpg"> 
         ​ </ion-item>        ​

         ​ <ion-item align='center'>  
     			<img src="img/cb7.jpg"> 
         ​ </ion-item>        ​
        </ion-list>
 <label class="item">
          <button class="button button-block button-positive" type="submit">VOLTAR</button>
  </ion-content>
</ion-view>
